*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgb(0, 0, 0)), url('Assets/jayhead.png');
    background-size:auto ;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}

.desc {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}